.glowingButton {
  background-color: rgb(23, 32, 41);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5rem;
  position: relative;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.glowingButton::after,
.glowingButton::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    rgb(255, 118, 118),
    rgb(255, 235, 124),
    rgb(122, 255, 155),
    rgb(130, 188, 255),
    rgb(255, 125, 233),
    rgb(255, 118, 118)
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 0.15rem;
  border-radius: 5rem;
  animation: 3s spin linear infinite;
}

.glowingButton::before {
  filter: blur(0.5rem);
  opacity: 0.5;
}

.glowingButton:hover::before,
.glowingButton:hover::after {
  padding: 0;
  width: 0;
  height: 0;
  z-index: -2;
}

.glowingButton:hover {
  background-image: linear-gradient(
    to right,
    rgb(255, 118, 118),
    rgb(255, 235, 124),
    rgb(122, 255, 155),
    rgb(130, 188, 255),
    rgb(255, 125, 233),
    rgb(255, 118, 118)
  );
  background-size: 200% 100%;
  animation: moveGradient 6s linear infinite;
  cursor: pointer;
}

.glowingButton:active {
  box-shadow: inset 0 0 0.5rem 2px white;
  transform: scale(0.95);
  transition: transform 0.1s ease;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.buttonText {
  color: white;
  font-size: large;
  text-transform: capitalize;
}
