@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

#root {
  position: relative;
  z-index: auto; /* Cambia da -100 a auto */
}

body {
  color: white;
  position: relative;
  padding: 3rem;
  background-image: url("/nnnoise.svg");
  background-color: rgb(11, 15, 24);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: auto; /* Cambia da -99 a auto */
}

.layout {
  display: flex;
}

.button {
  margin-top: 5rem;
}
