* {
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 3rem;
  background-image: url("./public/nnnoise.svg"),
    linear-gradient(
      134deg,
      rgba(3, 10, 24, 1) 20%,
      rgb(17, 24, 37) 60%,
      rgba(3, 19, 24, 1) 92%
    );
  height: 100vh;
  display: flex;
  justify-content: center;
}

#card {
  margin-bottom: 2rem;
}

.cardBkg {
  margin-top: 4rem;
  position: relative;
}
.cardBkg::after {
  left: 10px;
  filter: blur(2rem);
  position: absolute;
}

.cardBkg::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  -webkit-backdrop-filter: blur(2px); /* Effetto sfocato per Safari */
  backdrop-filter: blur(1px); /* Effetto sfocato */
  background: rgba(255, 255, 255, 0.003);
  box-shadow: inset 0 0 10px 5px rgba(255, 255, 255, 0.08); /* Sfondo semitrasparente */
  border-radius: 2rem; /* Arrotonda gli angoli */
  border: 1px solid rgba(255, 255, 255, 0.137);
  transform: translate(-50%, -50%);
  z-index: -1; /* Posiziona dietro alla card */
}

.codeSnippetContainer {
  background-color: rgba(30, 30, 30, 1); /* Sfondo simile a VS Code */
  border-radius: 0.5rem; /* Arrotonda gli angoli */
  padding: 1rem; /* Spaziatura interna */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombra */
  overflow-x: auto; /* Abilita lo scroll orizzontale */
  margin-top: 5rem;
}

.button {
  margin-top: 5rem;
}

.cardTitle {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.cardSubTitle {
  font-size: 2rem;
  margin-top: 3rem;
}

.cardContent {
  font-size: 1.5rem;
  margin-top: 1rem;
}
